.header{
  
    display: flex;
    justify-content: space-between;
    margin: 20px;
   border: 2px solid black;
}


.nav-items > ul {
    display: flex;
    list-style-type: none;
    box-shadow: 5px 5px 5px;
    margin: 15px 15px 0;
    box-decoration-break: slice;

    
}

.nav-items > ul > li{

    padding: 20px;
    border: 5px solid yellowgreen;
    margin: 5px;

}

.logo{

    width: 100px;

}